<% provide(:title, "Friends") %>

<h1>Friends</h1>

<%= will_paginate @friends %>

<table>
  <% @friends.each do |friend| %>
    <tr>
      <td><%= image_tag friend.avatar.url(:thumb) %></td>
      <td><%= link_to "#{friend.name}", friend %></td>
      <td><%= link_to "Unfriend", 
              friendship_path(current_user.find_friendship(friend)),
              data: { confirm: "Are you sure?" }, 
              method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @friends %>