<% provide(:title, "All users") %>

<h1>All Users</h1>

<%= will_paginate @users %>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.avatar.url(:thumb) %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to "Send friend request", 
            friendships_path(friended_id: user.id), method: :post %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>