<% provide(:title, "#{@user.name}'s profile") %>

<section class="profile-info">
  <h1><%= @user.name %></h1>
  <h3><%= @user.email %></h3>
  <%= image_tag @user.avatar.url(:medium) %>
  <p>
    <% if current_user != @user %>
      <td><%= link_to "Unfriend", 
                    friendship_path(current_user.find_friendship(@user)),
                    data: { confirm: "Are you sure?" }, 
                    method: :delete %></td>
    <% end %>
  </p>
</section>

<section class="profile-posts">
  <% if current_user == @user %>
    <%= render "shared/post_form" %>
  <% end %>

  <h2>Posts</h2>

  <div class="pagination"><%= will_paginate @user_posts %></div>

  <% @user_posts.each do |post| %>
  	<%= render "shared/post", post: post %>
  <% end %>

  <div class="pagination"><%= will_paginate @user_posts %></div>
</section>