<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>

<%= gravatar_for @user %>

<% if current_user == @user %>
  <%= render "shared/post_form" %>
<% end %>

<% @user.posts.each do |post| %>
	<%= render "shared/post", post: post %>
<% end %>