<% provide(:title, "#{@user.name}'s profile") %>

<div class="profile-wrapper">
  <section class="profile-info box">
    <h1><%= @user.name %></h1>
    <h3><%= @user.email %></h3>
    <%= image_tag @user.avatar.url(:medium), :class => "user-profile-avatar" %>
    <% if current_user != @user %>
      <div class="unfriend-link">
        <td><%= link_to "Unfriend", 
                      friendship_path(current_user.find_friendship(@user)),
                      data: { confirm: "Are you sure?" }, 
                      method: :delete %></td>
      </div>
    <% end %>
  </section>

  <section class="profile-posts">
    <% if current_user == @user %>
      <div class="post-form box">
        <%= render "shared/post_form" %>
      </div>
    <% end %>

    <div class="profile-posts-heading"><h2>Posts</h2></div>

    <div class="pagination"><%= will_paginate @user_posts %></div>

    <% @user_posts.each do |post| %>
    	<%= render "shared/post", post: post %>
    <% end %>

    <div class="pagination"><%= will_paginate @user_posts %></div>
  </section>
</div>

<script type="text/javascript">
  <% if current_page?("/users/#{current_user.id}") %>
    $(".profile-nav").addClass("current-page");
  <% end %>
</script>