<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>

<%= image_tag @user.avatar.url(:medium) %>

<h2>Write a new post</h2>

<% if current_user == @user %>
  <%= render "shared/post_form" %>
<% end %>

<h2>Posts</h2>

<%= will_paginate @user_posts %>

<% @user_posts.each do |post| %>
	<%= render "shared/post", post: post %>
<% end %>

<%= will_paginate @user_posts %>