<tr>
  <td><%= image_tag friend_request.friender.avatar.url(:thumb) %></td>
  <td class="user-name"><%= friend_request.friender.name %></td>

  <%= form_for friend_request do |f| %>
    <td>
      <%= f.submit "Accept", :name => 'accepted', class: "btn" %>
      <%= f.submit "Decline", class: "btn" %>
    </td>
  <% end %>
</tr>