<li class="pending_friend_request">
  <%= image_tag friend_request.friender.avatar.url(:thumb) %>
  <b><%= friend_request.friender.name %></b>

  <%= form_for friend_request do |f| %>
    <%= f.submit "Accept", :name => 'accepted' %>
    <%= f.submit "Decline" %>
  <% end %>
</li>