<div>
  <h3><%= post.user.name %></h3>
  <p>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
  <h4><%= post.content %></h4>
</div>

<%= render "shared/like_form", post: post %>

<p>
  Likes: <%= post.likes.count %>
  <ul>
  <% post.likes.each do |like| %>
    <li><%= like.user.name %></li>
  <% end %>
  </ul>
</p>

<p>
  Comments:
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <p><%= comment.content %></p>
        <p>Author: <%= comment.user.name %></p>
      </li>
    <% end %>
  </ul>
</p>

<%= render "shared/comment_form", post: post %>
