<div>
  <h3>
    <%= image_tag post.user.avatar.url(:thumb) %>
    <%= post.user.name %>
  </h3>
  
  <p>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
  <h4><%= post.content %></h4>
  <p><%= image_tag post.picture.url if post.picture? %></p>
  <div>
    <% if post.belongs_to?(current_user) %>
      <%= link_to "edit", edit_post_path(post) %>
      <%= link_to "delete", post, method: :delete, 
                                  data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<%= render "shared/like_form", post: post %>

<p>
  Likes: <%= post.likes.count %>
  <ul>
  <% post.likes.each do |like| %>
    <li><%= like.user.name %></li>
  <% end %>
  </ul>
</p>

<p>
  Comments:
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <p><%= comment.content %></p>
        <p>
          Author: 
          <%= image_tag comment.user.avatar.url(:thumb) %>
          <%= comment.user.name %>
        </p>
        <div>
          <% if comment.belongs_to?(current_user) %>
            <%= link_to "edit", edit_post_comment_path(post_id: post.id,
                                                       id: comment.id) %>
            <%= link_to "delete", post_comment_path(post_id: post.id,
                                  id: comment.id), method: :delete, 
                                        data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</p>

<%= render "shared/comment_form", post: post %>
