<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<% if user_signed_in? %>
			<li><%= link_to "Profile", "#" %></li>
			<li><%= link_to "Friend Requests", friend_requests_path %></li>
			<li><%= link_to "Notifications", notifications_path %></li>
			<li><%= link_to "Settings", "#" %></li>
			<li><%= link_to "Sign out", destroy_user_session_path, 
																	method: :delete %></li>	
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
	</ul>
</nav>