<nav class="navbar">
	<div class="logo-container">
		<%= link_to image_tag("/images/logo.png", id: "logo-small"), root_path %>
		<div class="logo-text-container">
			<%= link_to "BOOK OF FACES", root_path, id: "logo-text-small" %>
		</div>
	</div>
	<ul>
		<li><div><%= link_to "Home", root_path %></div></li>
		<% if user_signed_in? %>
			<li><div><%= link_to "Profile", current_user %></div></li>
			<li><div><%= link_to "Friend Requests", friend_requests_path %></div></li>
			<li><div><%= link_to "Notifications", notifications_path %></div></li>
			<li><div><%= link_to "Friends", friends_path %></div></li>
			<li><div><%= link_to "Users", users_path %></div></li>
			<li><div><%= link_to "Settings", edit_user_registration_path %></div></li>
			<li><div><%= link_to "Sign out", destroy_user_session_path, 
																	method: :delete %></div></li>	
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
	</ul>
</nav>