<nav class="navbar">
	<div class="logo-container">
		<%= link_to image_tag("/images/logo.png", id: "logo-small"), root_path %>
		<div class="logo-text-container">
			<%= link_to "BOOK OF FACES", root_path, id: "logo-text-small" %>
		</div>
	</div>
	<ul>
		<li><div class="home-nav"><%= link_to "Home", root_path %></div></li>
		<% if user_signed_in? %>
			<li>
				<div class="profile-nav">
					<%= link_to "Profile", current_user %>
				</div>
			</li>
			<li>
				<div class="friend-requests-nav">
					<%= link_to "Friend Requests", friend_requests_path %>
				</div>
			</li>
			<li>
				<div class="notifications-nav">
					<%= link_to "Notifications", notifications_path %>
				</div>
			</li>
			<li>
				<div class="friends-nav">
					<%= link_to "Friends", friends_path %>
				</div>
			</li>
			<li>
				<div class="users-nav">
					<%= link_to "Users", users_path %>
				</div>
			</li>
			<li>
				<div class="settings-nav">
					<%= link_to "Settings", edit_user_registration_path %>
				</div>
			</li>
			<li>
				<div class="sign-out-nav">
					<%= link_to "Sign out", destroy_user_session_path, 
																	method: :delete %>
				</div>
			</li>	
		<% else %>
			<li>
				<div class="sign-in-nav">
					<%= link_to "Sign in", new_user_session_path %>
				</div>
			</li>
		<% end %>
	</ul>
</nav>